NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDuYc-dqyWqSfy5YRTUuarn9JwQ095DEpQ"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="fuel-watch-18be9.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="fuel-watch-18be9"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="fuel-watch-18be9.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="522171215763"
NEXT_PUBLIC_FIREBASE_APP_ID="1:522171215763:web:ebb8a10aedd3738a280266"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-ET9G35SEYW"
